DB_USER=warung
DB_PASS=warung123
DB_NAME=warungku
SECRET_KEY=x7Kq29mPzR4vLw8TnB3sYd6HaJ1cFe
ADMIN_USER=admin
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123
KARYAWAN_USER=Andi
KARYAWAN_EMAIL=Andi123@gmail.com
KARYAWAN_PASSWORD=karyawan1
